@model TallerAppServices.Models.lineas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>lineas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombreLinea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombreLinea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.codigoLinea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.codigoLinea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fechaCreacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.usuarios.identificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usuarios.identificacion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idLinea }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
