@model IEnumerable<TallerAppServices.Models.colorDetalle>

@{
    Layout = null;
}

<h2>tintas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPorcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colores.nombreColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tintas.nombreTinta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadPorcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.colores.nombreColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tintas.nombreTinta)
            </td>
            <td></td>
        </tr>
    }

</table>

