@model IEnumerable<TallerAppServices.Models.tiposDocumentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigoTipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreTipoDocuemnto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigoTipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTipoDocuemnto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTipoDocumento }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTipoDocumento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTipoDocumento })
        </td>
    </tr>
}

</table>
