@model TallerAppServices.Models.ubicacionesDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ubicacionesDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desDetalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desDetalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicaciones.desUbicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicaciones.desUbicacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUbicacionDetalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
