@using IntrLibrary.General;
@using IntrLibrary.objects;



<div class="col-md-6">
    <div class="tab-content">
        <br />
        <br />
        <ul class="nav nav-pills  nav-stacked">
            @{
                var menus = Generics.listaMenu();
                foreach (Menu opcion in menus)
                {
                    <li><a data-toggle="tab" href="#@opcion.Metodo">@opcion.Contr.NombreControladora</a></li>
                }
            }
        </ul>
    </div>
</div> 
<div class="col-md-6">

    <div class="tab-content">
        @{
            foreach (Menu opcion in menus)
            {
                <div id="@opcion.Metodo" class="tab-pane fade">
                    <h3>@opcion.Contr.NombreControladora</h3>
                    <p>
                        @opcion.Contr.Descripcion1
                    </p>
                    <br />
                    <ul class="nav">
                        @{
                            foreach (Metodo met in opcion.Contr.Metodos)
                            {
                                <li>@Html.ActionLink(met.Nombre, @met.Path, opcion.Contr.Path)</li>
                            }
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>