@model TallerAppServices.Models.tintas


    @using (Html.BeginForm("edit", "tintas"))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>tintas</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idTinta)
    
            <div class="form-group">
                @Html.LabelFor(model => model.nombreTinta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombreTinta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreTinta, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.codigoTinta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigoTinta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigoTinta, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.idLinea, "idLinea", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idLinea", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idLinea, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-10">
                    @{
                        string idusuario = System.Web.HttpContext.Current.Session["idUsuario"].ToString();
                    }
                    <input Length="9" data-val="true" data-val-number="The field idUsuarioCreacion must be a number." data-val-required="El campo idUsuarioCreacion es obligatorio." id="idUsuarioCreacion" name="idUsuarioCreacion" type="hidden" value="@idusuario" />

                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.fechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaCreacion, new { htmlAttributes = new { @class = "form-control datecontrol" } })
                    @Html.ValidationMessageFor(model => model.fechaCreacion, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.inactivo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.inactivo)
                        @Html.ValidationMessageFor(model => model.inactivo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    