@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.tintas select cont).DefaultIfEmpty();
}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    nombreTinta
                </th>
                <th>
                    codigoTinta
                </th>
                <th>
                    fechaCreacion
                </th>
                <th>
                    inactivo
                </th>
                <th>
                    nombreLinea
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in lista) {
        if (item != null)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreTinta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoTinta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inactivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineas.nombreLinea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "tintas", new { id = item.idTinta }) 
            </td>
        </tr>
        }
    }

    </table
</body>
</html>
