@model IEnumerable<TallerAppServices.Models.roles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRole }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRole }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRole })
        </td>
    </tr>
}

</table>
