@model TallerAppServices.Models.usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombrePrimero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePrimero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreSegundo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreSegundo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPrimero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPrimero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoSegundo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoSegundo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.nombreRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.nombreRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiposDocumentos.codigoTipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiposDocumentos.codigoTipoDocumento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
