@model IEnumerable<TallerAppServices.Models.usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombrePrimero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreSegundo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoPrimero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoSegundo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles.nombreRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiposDocumentos.codigoTipoDocumento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrePrimero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreSegundo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPrimero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoSegundo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roles.nombreRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiposDocumentos.codigoTipoDocumento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
